Q1. What are data structures, and why are they important?
>>>

Q2. Explain the difference between mutable and immutable data types with examples?
>>> Mutable types- A mutable data type is one whose value can be changed or modified after the object is created eg. list,Dictionaries,sets
Immutable types- An immutable data type is one whose value cannot be changed or modified after it is created eg. tuple, strings

Q3. What are the main differences between lists and tuples in Python?
>>> In Python lists and tuples are both used to store multiple items, but they have key differences. Lists are mutable meaning you can change, add, or remove items after they are created, and they use square brackets (`[]`). Tuples on the other hand, are immutable, meaning once they're created, their contents cannot be changed, and they use parentheses (`()`).

Q4. Describe how dictionaries store data?
>>> dictionaries store data as key-value pairs. Each key is unique and maps to a specific value, allowing you to quickly access data using the key. Dictionaries are created with curly braces {}, where keys and values are separated by a colon. Keys must be immutable (like strings or numbers), and values can be any type of data.

Q5. Why might you use a set instead of a list in Python?
>>> You might use a set instead of a list when you want to store only unique items no duplicates and don't need to worry about the order of the items. Sets automatically remove duplicates and are faster when checking if an item is already in the collection. However, unlike lists, sets don't keep the order of elements, so you can't access items by their position in the set

Q6. What is a string in Python, and how is it different from a list?
>>> a string is a sequence of characters used to represent text, enclosed in single (' ') or double (" ") quotes. Strings are immutable, meaning once created, you cannot change their content. On the other hand, a list is a collection that can store multiple items, such as numbers, strings, or other lists, and it is mutable, so you can modify, add, or remove elements. While both strings and lists allow accessing elements by index, strings are used specifically for handling text

Q7. How do tuples ensure data integrity in Python?
>>> tuples help ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability guarantees that the data inside a tuple remains constant throughout the program. This is especially useful in situations where you want to prevent accidental modifications to critical data, such as configuration settings, coordinates, or other constant values. Since the data cannot be altered, tuples provide a level of protection against unintended changes, helping maintain the integrity and consistency of your data.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
>>>

Q9. Can lists contain different data types in Python3
>>> yes, lists in Python can contain different data types. A single list can hold a mix of integers, strings, booleans, floats, and even other lists or objects

Q10. Explain why strings are immutable in Python?
>>> Strings are immutable in Python because their value cannot be changed once created. This makes them more efficient, safer to use avoiding changes, and ensures they work reliably as keys in dictionaries. Immutability also helps with performance and thread safety, as strings can't be altered while in use

Q11. What advantages do dictionaries offer over lists for certain tasks?
>>> Dictionaries are faster than lists for tasks that require quick lookups because they allow you to access values directly using unique keys, with O(1) time complexity. Unlike lists, which store items in order, dictionaries store data as key-value pairs, making it easier to associate and retrieve information. They also ensure unique keys, preventing duplicates, which helps maintain data integrity. Overall, dictionaries are better for managing and organizing data efficiently

Q12> Describe a scenario where using a tuple would be preferable over a list?
>>>A tuple is preferable over a list when you need to store a collection of values that should remain unchanged (immutable). For example, in a scenario where you're representing fixed data like coordinates (e.g., (10, 20)) or RGB color values (e.g., (255, 0, 0)), using a tuple ensures that the data cannot be accidentally modified. Tuples are also more memory-efficient and faster for iteration, making them ideal for storing data that does not need to change after being set

Q13. How do sets handle duplicate values in Python?
>>>Sets automatically remove duplicates. A set is an unordered collection of unique elements, meaning it does not allow duplicate values. When you try to add a duplicate element to a set, it simply ignores the duplicate and keeps only one instance of the value

Q14. How does the “in” keyword work differently for lists and dictionaries?
>>>The in keyword works differently for lists and dictionaries in Python. For lists, it checks if a value exists in the list and returns True if found. For dictionaries, it checks if a key exists in the dictionary, not the value. To check for a value in a dictionary, you can use the .values() method

Q15. Can you modify the elements of a tuple? Explain why or why not?
>>> No, you cannot modify the elements of a tuple in Python because tuples are immutable,  Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures that the data stored in a tuple remains constant throughout the program, which can help prevent accidental modifications and improve performance in certain cases. However, you can modify the contents of a mutable object inside a tuple like a list, but you can't change the structure of the tuple itself.

Q16. What is a nested dictionary, and give an example of its use case?
>>> A nested dictionary is a dictionary where the values are other dictionaries, creating a hierarchy of data. This allows you to store complex information in a structured way. For example, you could use a nested dictionary to store details about multiple employees, where each employees ID is a key, and the value is another dictionary containing their name, age, and department. This structure makes it easy to organize and access detailed information.

Q17. Describe the time complexity of accessing elements in a dictionary?
>>>

Q18. In what situations are lists preferred over dictionaries?
>>>ists are preferred over dictionaries when the order of elements matters, as lists preserve the sequence in which items are added. They are also ideal when you need to access elements by their index, allowing direct access to any position in the list. Lists allow duplicates, so if you need to store multiple identical items, they are a better choice. Additionally, lists are simpler when you don't need key-value pairs and just need a collection of values. They are also suitable for smaller datasets where performance is not a primary concern, as they are straightforward and easy to use

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>>>

Q20.Explain the difference between a list and a dictionary in terms of data retrieval?
>>>The main difference between a list and a dictionary in terms of data retrieval is how the data is accessed. In a list, elements are accessed using an index, which is a numerical position that corresponds to the order in which elements are added. The order of elements matters, and data retrieval is based on this position (e.g., my_list[2] to access the third item). In contrast, a dictionary stores data as key-value pairs, and elements are accessed by their key (e.g., my_dict['key']). Dictionaries are unordered, meaning there’s no fixed order of elements, and retrieval is based on the unique key associated with the value. Both structures offer O(1) time complexity for data retrieval, but lists rely on indices, while dictionaries use keys.

PRACTICAL QUESTIONS

In [ ]:
# 1. Write a code to create a string with your name and print it ?
name = "ayush patidar"
print(name)

ayush patidar

In [ ]:
# Q2. Write a code to find the length of the string "Hello World"?
name = "ayush"
len(name)

5

In [ ]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming"?
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [ ]:
#Q4.Write a code to convert the string "hello" to uppercase?
my_string = "ayush"
uppercase_string = my_string.upper()
print(uppercase_string)

AYUSH

In [ ]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sentence = "I like apple"
modified_sentence = sentence.replace("apple", "orange")
print(modified_sentence)

I like orange

In [ ]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [4]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [5]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it?
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [8]:
#Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [11]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [12]:
#Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [15]:
#Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?fruits = ("apple", "banana", "orange")
fruits = ("apple", "kiwi", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple!

In [17]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

In [18]:
#Q17Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [19]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?
num = {1, 2, 3, 4}
num.remove(4)
print(num)

{1, 2, 3}

In [20]:
#Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
#Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4?
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [23]:
#Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
dic= {"name": "John", "age": 30, "city": "New York"}
print(dic)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [24]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [26]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.?
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [28]:
#Q26.Write a code to create a list, a tuple, and a dictionary, and print them all?
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [29]:
#Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [2, 5, 32, 69, 70]

In [30]:
#Q28.Write a code to create a list with strings and print the element at the third index?
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at the third index:", string_list[3])

Element at the third index: date

In [31]:
#Q29. Write a code to combine two dictionaries into one and print the result?
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
dict1.update(dict2)
print("Combined dictionary:", dict1)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [32]:
#Q30. Write a code to convert a list of strings into a set?
string_list = ["apple", "banana", "cherry", "apple", "date"]
string_set = set(string_list)
print("Converted set:", string_set)

Converted set: {'apple', 'banana', 'date', 'cherry'}